:host {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  justify-content: flex-start;
  width: 640px;
  margin: 0 auto;
}

.format-actions {
  width: 100px;
}

button + button {
  margin-left: 5px;
}

.synonyms {
  max-width: 540px;
  overflow-x: auto;
}

.synonym {
  white-space: nowrap;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 3px;
  user-select: none;
  cursor: pointer;
}

.synonym:not(:last-child) {
  margin-right: 5px;
}
