<div class="format-actions">
  <button class="format-action" type="button" (click)="applyFormatting('bold')"><b>B</b></button>
  <button class="format-action" type="button" (click)="applyFormatting('italic')"><i>I</i></button>
  <button class="format-action" type="button" (click)="applyFormatting('underline')"><u>U</u></button>
</div>
<div class="synonyms">
  <span class="synonym" *ngFor="let synonym of synonyms" (click)="replaceWithSynonym(synonym)">{{synonym}}</span>
</div>
